# Ignore everything
/*

# un-ignore the Practicals folder and its contents
!/.gitignore
!/Practicals/Practical01
!/Practicals/Practical02
!/Exam
!/Libraries/Utils
!/CMakeLists.txt

# Also, un-ignore this .gitignore file so it gets committed
