# Ignore everything
/*
/Practicals/Practical02Solutions

# un-ignore the Practicals folder and its contents
!/.gitignore
!/Practicals
!/Exam
!/Libraries/Utils
!/CMakeLists.txt

# Also, un-ignore this .gitignore file so it gets committed
